from RequestClass import Request
import logging
from logging.handlers import RotatingFileHandler
logger = logging.getLogger()


class Compute:
    def __init__(self,request,api):
        self._api=api
        self.req = request

    def spark(self,message):
        """To be augmented"""

    def newRoom(self):
        """To be augmented"""

    def Webhook(self):
        """To be augmented"""

    def answer(self,roomId,**data):
        try:
            self._api.messages.create(roomId, **data)
            self.success = True
        except:
            self.success=False
        return self.success

    def getMessage(self):
        req = Request(self.req,self._api)
        return req.getDetails()

    def getMyEmail(self):
        return self.req.MyEmail

    def getUserEmail(self):
        return self.req.personEmail

    def Room(self):
        roomid = self.req['data']['id']
        return self.newRoom(roomid)

    def isRunnable(self):
        message = self.getMessage()
        if (message[0].personEmail != '{{ email }}'):
            self.spark(message[0],message[1])